flows/n8n-whatsapp.json
{
  "name": "WhatsApp Lead Captacao - Oral Unic",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "oral-unic-whatsapp-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "MESSAGES_UPSERT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "cond-fromme",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Filtrar Mensagem Recebida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 300]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Ignorar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [480, 520]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-telefone",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "assign-nome",
              "name": "nome",
              "value": "={{ $json.body.data.pushName || 'Lead WhatsApp' }}",
              "type": "string"
            },
            {
              "id": "assign-mensagem",
              "name": "mensagem",
              "value": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || $json.body.data.message?.imageMessage?.caption || '[mídia recebida]' }}",
              "type": "string"
            },
            {
              "id": "assign-timestamp",
              "name": "timestamp_whatsapp",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "number"
            },
            {
              "id": "assign-instancia",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "assign-msgid",
              "name": "msg_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "includeOthers": false,
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Normalizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://btighfgcablumcjacssz.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telefone: $json.telefone, nome: $json.nome, canal: 'whatsapp', updated_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Upsert Lead Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://btighfgcablumcjacssz.supabase.co/rest/v1/leads?telefone=eq.{{ encodeURIComponent($('Normalizar Dados').item.json.telefone) }}&select=id,nome,status,score_qualificacao",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Buscar Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://btighfgcablumcjacssz.supabase.co/rest/v1/mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json[0].id, direcao: 'entrada', conteudo: $('Normalizar Dados').item.json.mensagem, tipo: 'texto', enviado_por: 'lead' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Salvar Mensagem Entrada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flowise-production-5edd.up.railway.app/api/v1/prediction/CHATFLOW_ID_AQUI",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Basic {{ Buffer.from('admin:Bms230850jr').toString('base64') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $('Normalizar Dados').item.json.mensagem, overrideConfig: { sessionId: $('Normalizar Dados').item.json.telefone } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Enviar para Sofia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://btighfgcablumcjacssz.supabase.co/rest/v1/mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Buscar Lead').item.json[0].id, direcao: 'saida', conteudo: $json.text, tipo: 'texto', enviado_por: 'Sofia' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Salvar Mensagem Saida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-cedd.up.railway.app/message/sendText/oral-unic",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "A433F7FD-5F57-4C9B-9FED-8910E0401744"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Normalizar Dados').item.json.telefone, textMessage: { text: $('Enviar para Sofia').item.json.text } }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 300]
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Filtrar Mensagem Recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagem Recebida": {
      "main": [
        [
          {
            "node": "Normalizar Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Dados": {
      "main": [
        [
          {
            "node": "Upsert Lead Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead Supabase": {
      "main": [
        [
          {
            "node": "Buscar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead": {
      "main": [
        [
          {
            "node": "Salvar Mensagem Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Mensagem Entrada": {
      "main": [
        [
          {
            "node": "Enviar para Sofia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar para Sofia": {
      "main": [
        [
          {
            "node": "Salvar Mensagem Saida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Mensagem Saida": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "oral-unic-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "oral-unic"
  },
  "id": "oral-unic-whatsapp-flow-001",
  "tags": []
}
